input {
    width: 80%;
    padding: 10px;
    margin: 10px;
}
#qrcode {
    /* margin-top: 20px; */
    display: none;
    padding: 20px;
    background-color: aliceblue;
}

#downloadBtn {
    display: none;
}

#reader {
    width: 300px;
    margin: auto;
}